<strong>Module:</strong>        ChadisoUser Module &raquo;
<strong>Controller:</strong>    ChadisoUser &raquo;
<strong>Action:</strong>        foo

<?php


//echo $this->ztbAlert()->error('This is an alert');
//echo $this->ztbAlert()->success('This is an alert');
//echo $this->ztbAlert()->info('This is an alert');
//echo $this->ztbAlert()->warning('This is an alert');
//
////in block
//
//echo $this->ztbAlert('This is an alert', true, 'alert-error');
//echo $this->ztbAlert('This is an alert', true, 'alert-success');
//echo $this->ztbAlert('This is an alert', true, 'alert-info');
//echo $this->ztbAlert('This is an alert', true, 'alert-warning');

// explicit types: info, important, inverse, success, warning
echo $this->ztbBadge()->info('This is a badge');
echo $this->ztbBadge()->important('This is a badge');
echo $this->ztbBadge()->inverse('This is a badge');
echo $this->ztbBadge()->success('This is a badge');
echo $this->ztbBadge()->warning('This is a badge');


?>

<div>
    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            Action
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </div>

</div>


    <div class="">
        <button class="btn btn-large dropdown-toggle" data-toggle="dropdown">large butt
            <span class="caret"></span>
        </button>
    </div>