<style type="text/css">

        /*	Resets
        ------	*/

    html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
    p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
    img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr,
    dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, figure, figcaption, hgroup,
    menu, footer, header, nav, section, summary, time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
    }

        /*	Stuf
            ------	*/

    body {
        background: #e9eaeb;
        font: 12px/16px Helvetica, Arial, sans-serif;
    }

    h4 {
        clear: both;
        width: 100%;
    }

    #freetile-demo {
        margin: 50px auto;
        max-width: 1920px;
    }

    .test {
        background: #eceeef;
        /*border: 1px solid #ccc;*/
        margin: 30px 0;
    }

    .third.test {
        float: left;
        clear: right;
        width: 80px;
    }

    .fourth.test {
        clear: both;
        width: 100%;
    }

    .empty.test {
        padding: 10px 0;
        background: #efeff1;
    }

    .item_wrapper {
        background: #f0fefe;
        /*border-right: 12px solid #e9eaeb;*/
        /*border-bottom: 12px solid #e9eaeb;*/

        margin-left: 12px;
        margin-right: 12px;
        margin-top: 6px;
        margin-bottom: 6px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    .item {
        background: none;
        color: #595959;
    }

    .item img {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    /*img {*/
        /*display:none;*/
    /*}*/

</style>

<p>
    <button id="prepend">Prepend new items</button>
    <button id="append">Append new items</button>
</p>

<div id="freetile-demo">
    <h4>Typical Arrangement</h4>
    <div class="first test"></div>
    <h4>Single Element</h4>
    <div class="second test"></div>
    <h4>Thin column, overflowing elements</h4>
    <div class="third test"></div>
    <h4>2k elements</h4>
    <div class="fourth test"></div>
    <h4>Empty Container</h4>
    <div class="empty test"></div>
</div>


<script type="text/javascript">

    $(document).ready(function () {

        // First test
        var item;
        for (i = 0; i < 3; i++) {
            var w = 228; //* (parseInt(Math.random() * 3) + 1) - 1,
            h = 180 * (parseInt(Math.random() * 3) + 1) - 1;
            item = $('<div class="item_wrapper" style="color:#fff;"></div>');
            item.append('<div class="item"><a href=""><img src="http://media-cache-ec4.pinterest.com/236x/61/d5/97/61d59765822811d973133caf0f826838.jpg"></img></a><div>loaded '+i+'</div></div>');
            item.width(w).appendTo('.first.test');
        }


        $('#freetile-demo').children().each(function () {
            $(this).freetile({
                animate:true,
                elementDelay:10
            });
        });


        $('#append').click(function(){

            var item;
            for (i = 0; i < 2; i++) {
                var w = 228; //* (parseInt(Math.random() * 3) + 1) - 1,
                h = 180 * (parseInt(Math.random() * 2) + 1) - 1;
                item = $('<div class="item_wrapper" style="color:#fff;"></div>');
                item.append('<div class="item"><a href=""><img src="http://media-cache-ec4.pinterest.com/236x/61/d5/97/61d59765822811d973133caf0f826838.jpg"></img></a><div>appended '+i+'<div style="border:1px solid #8b0000; height: 100px;">ffff</div>ooooo</div></div>');
                item.width(w).appendTo('.first.test');
//                item.width(w).height(h);
//                $('.first.test').freetile().append(item);
            }
            $('.first.test').freetile({animate: true, elementDelay: 100});

        });

        $('#prepend').click(function(){

            var item;
            for (i = 0; i < 1; i++) {
                var w = 228; //* (parseInt(Math.random() * 3) + 1) - 1,
                h = 360 * (parseInt(Math.random() * 3) + 1) - 1;
                item = $('<div class="item_wrapper" style="color:#fff;"></div>');
                item.append('<div class="item"><a href=""><img src="http://media-cache-ak0.pinimg.com/236x/07/54/69/075469b263d922b747123f8e0975a7eb.jpg"></img></a><div>prepended '+i+'</div></div>');
                item.width(w).height(h).prependTo('.first.test');
//                item.width(w).height(h);
//                $('.first.test').freetile().append(item);
            }

            $('.first.test').freetile({animate: true, elementDelay: 100});


        });

        $('.first.test').infinitescroll({
                    navSelector  : '#page-nav',    // selector for the paged navigation
                    nextSelector : '#page-nav a',  // selector for the NEXT link (to page 2)
                    itemSelector : '.item',     // selector for all items you'll retrieve
                    loading: {
                        finishedMsg: 'No more pages to load.',
                        img: 'http://i.imgur.com/6RMhx.gif'
                    }
                },
                // trigger Masonry as a callback
                function( newElements ) {
//                    // hide new items while they are loading
//                    var $newElems = $( newElements ).css({ opacity: 0 });
//                    // ensure that images load before adding to masonry layout
//                    $newElems.imagesLoaded(function(){
//                        // show elems now they're ready
//                        $newElems.animate({ opacity: 1 });
//                        $container.masonry( 'appended', $newElems, true );



                        var item;
                        for (i = 0; i < 2; i++) {
                            var w = 228; //* (parseInt(Math.random() * 3) + 1) - 1,
                            h = 180 * (parseInt(Math.random() * 2) + 1) - 1;
                            item = $('<div class="item_wrapper" style="color:#fff;"></div>');
                            item.append('<div class="item"><a href=""><img src="http://media-cache-ec4.pinterest.com/236x/61/d5/97/61d59765822811d973133caf0f826838.jpg"></img></a><div>appended '+i+'<div style="border:1px solid #8b0000; height: 100px;">ffff</div>ooooo</div></div>');
                            item.width(w).appendTo('.first.test');

                        }
                        $('.first.test').freetile({animate: true, elementDelay: 100});

                }
        );

    });
</script>