<style type="text/css">
    .item {
        background: #bebebe;
        color: #ffffff;
        border-radius: 3px;
        padding: 10px;
        word-break: break-all;
        word-wrap: break-word;
        white-space: pre;
        white-space: pre-wrap;
    }


    /*.item {*/
        /*margin: 5px;*/
        /*padding: 5px;*/
        /*background: #D8D5D2;*/
        /*font-size: 11px;*/
        /*line-height: 1.4em;*/
        /*float: left;*/
        /*-webkit-border-radius: 5px;*/
        /*-moz-border-radius: 5px;*/
        /*border-radius: 5px;*/
    /*}*/

    /*#example3 {*/
        /*background: #FFF;*/
        /*padding: 5px;*/
        /*margin-bottom: 20px;*/
        /*border-radius: 5px;*/
        /*clear: both;*/
        /*-webkit-border-radius: 5px;*/
        /*-moz-border-radius: 5px;*/
        /*border-radius: 5px*/
    /*}*/
</style>

<script type="text/javascript">
    makeboxes = function() {
        var boxes = new Array;
        //var randImg = ['img/200_red.jpg', 'img/300_red.jpg', 'img/400_red.jpg', 'img/500_red.jpg','img/200_yellow.jpg', 'img/300_yellow.jpg', 'img/400_yellow.jpg', 'img/500_yellow.jpg'];

        var randTxt = [
            'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
            'Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad ',
            'Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
            'Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad.',
            'Duis aunt occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
            'Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
            'Adipisicing elit, sed do eiusmod.',
            'Fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
        ];
        //var amount = Math.floor(Math.random()*10); if (amount == 0) amount = 1;
        var amount  = 15;
        for(i=0;i<amount;i++){
            num = Math.floor(Math.random()*randTxt.length)
            div = $('<div></div>').addClass('item');

            p = "<p>"+randTxt[num]+"</p>";

            div.append(p);
            boxes.push(div);
        }
        return boxes;
    }
</script>

<script type="text/javascript">

    //grid.a.licious
    $(document).ready(function () {
        $("#example3").gridalicious({
            gutter: 10,
            width: 225,
            animate: true,
            selector: '.item',
            queue: true,
            animationOptions: {
                speed: 200,
                duration: 300,
                complete: onComplete
            }
        });

        // function not used.
        function onComplete(data) {
            //alert('completed!');
        }

        $('#prepend').click(function () {
            $("#example3").gridalicious('prepend', makeboxes());

        });
        $('#append').click(function () {
            $("#example3").gridalicious('append', makeboxes());
        });
    });


//    $(document).ready(function () {
//        var $container = $('#example3');
//
//        $('#example3').masonry({
//            itemSelector: '.item',
//            columnWidth: 250,
//            gutterWidth: 12,
//            isAnimated: !Modernizr.csstransitions,
//            isResizable: true,
//            animationOptions: {
//                duration: 200
//            }
//        });
//
//        $('#prepend').click(function(){
//            var $boxes = $( boxMaker.makeBoxes() );
//            $container.prepend( $boxes ).masonry( 'reload' );
//        });
//
//        $('#append').click(function(){
//            var $boxes = $( boxMaker.makeBoxes() );
//            $container.append( $boxes ).masonry( 'appended', $boxes );
//        });
//    });
</script>



<div style="float:left; padding-right:16px;"><?php echo $this->gravatar($this->zfcUserIdentity()->getEmail()) ?></div>
<h3>Hello, <?php echo $this->zfcUserDisplayName() ?>!</h3>
<a href="<?php echo $this->url('zfcuser/logout') ?>">[Sign Out]</a>
<div style="clear:both;"></div>

<hr/>
    <div class="example">
        <h4>Example 03</h4>
        <p>Prepending and appending items</p>
        <div id="controllers" style="margin-bottom: 12px;">
            <a class="controller-btn button btn" id="prepend">Prepend</a>
            <a class="controller-btn button btn" id="append">Append</a>
            <div class="clear"></div>
        </div>

        <div class="example3" id="example3" style="position: relative; height: 876px;">
            <div class="item">
                <div>itur.</div>
            </div>
            <div class="item">
                <div>Dasdasmdhaj hajsdoat.</div>
            </div>
            <div class="item">
                <div>Wxercquinsequat.</div>
            </div>
            <div class="item">
                <div>Quisnsequat.</div>
            </div>
            <div class="item">
                <div>Lorem odo consequat.</div>
            </div>
            <div class="item">
                <div>Ut enim
                </div>
            </div>
            <div class="item">
                <div>Lorem ctetur.</div>
            </div>
            <div class="item">
                <div>Dolor snsequat.</div>
            </div>
            <div class="item">
                <div>Wxeat.</div>
            </div>
            <div class="item">
                <div>Quis at.</div>
            </div>
            <div class="item">
                <div>Lored do.</div>
            </div>
            <div class="item">
                <div>Ut t.</div>
            </div>
        </div>
     </div>

