<div class="row">
    <div class="span4"></div>
    <div class="span4">
        <div>
        <div style="margin: 0 auto; width: 70%; text-align:center;">
            <h2><?php echo $this->translate('Authorization');?></h2>
        </div>
            <hr/>
        <div style="padding-left: 70px;">
            <?php
            $form = $this->loginForm;
            $form->prepare();
            $form->setAttribute('action', $this->url('zfcuser/login'));
            $form->setAttribute('method', 'post');
            ?>

            <?php echo $this->form()->openTag($form) ?>

                <dl class="zend_form">
                    <?php echo $this->formElementErrors($form->get('identity')) ?>

                    <dt><?php echo $this->formLabel($form->get('identity')) ?></dt>
                    <dd><?php echo $this->formInput($form->get('identity')) ?></dd>

                    <dt><?php echo $this->formLabel($form->get('credential')) ?></dt>
                    <dd><?php echo $this->formInput($form->get('credential')) ?></dd>

                    <?php if ($this->redirect): ?>
                        <input type="hidden" name="redirect" value="<?php echo $this->redirect ?>" />
                    <?php endif ?>

                    <dd><p><?php echo $this->formButton($form->get('submit')->setAttributes(array(
                        'class'  => 'btn btn-primary',
                        'style'  => 'width: 220px;'
                    ))) ?></p></dd>

            <!--        --><?php //echo $this->ztbFormElement($form->get('submit')); ?>
                </dl>

            <?php echo $this->form()->closeTag() ?>

            <?php if ($this->enableRegistration) : ?>
            <?php echo $this->translate('Not registered?');?> <a href="<?php echo $this->url('zfcuser/register') . ($this->redirect ? '?redirect='.$this->redirect : '') ?>"><?php echo $this->translate('Sign up!'); ?></a>
            <?php endif; ?>
        </div>
    </div>
    <div class="span5"></div>
</div>