<style type="text/css">
<!---->
    /*.box {*/
        /*margin: 5px;*/
        /*padding: 5px;*/
        /*background: #D8D5D2;*/
        /*font-size: 11px;*/
        /*line-height: 1.4em;*/
        /*float: left;*/
        /*-webkit-border-radius: 5px;*/
        /*-moz-border-radius: 5px;*/
        /*border-radius: 5px;*/
    /*}*/

    /*#container {*/
        /*background: #FFF;*/
        /*padding: 5px;*/
        /*margin-bottom: 20px;*/
        /*border-radius: 5px;*/
        /*clear: both;*/
        /*-webkit-border-radius: 5px;*/
        /*-moz-border-radius: 5px;*/
        /*border-radius: 5px*/
    /*}*/
</style>



<div style="float:left; padding-right:16px;"><?php echo $this->gravatar($this->zfcUserIdentity()->getEmail()) ?></div>
<h3>Hello, <?php echo $this->zfcUserDisplayName() ?>!</h3>
<a href="<?php echo $this->url('zfcuser/logout') ?>">[Sign Out]</a>
<div style="clear:both;"></div>

<hr/>

<p>
    <button id="prepend">Prepend new items</button>
    <button id="append">Append new items</button>
</p>

<div id="container" class="centered transitions-enabled clearfix masonry" style="position: relative; height: 687px;">
    <div class="box col3">
        <p>
            <a href="http://www.flickr.com/photos/nemoorange/3319714470/" title="Whitlow's on Wilson by nemoorange, on Flickr"><img src="http://farm4.static.flickr.com/3008/3319714470_c05a5cb5a8_m.jpg" alt="Whitlow's on Wilson" /></a>
        </p>
    </div>
</div>




<script type="text/javascript">


    $(function() {
        var $container = $('#container');

//        $container.masonry({
//            itemSelector: '.box',
//            columnWidth: 60,
//            columnWidth: function( containerWidth ) {
//                return containerWidth / 40;
//            },
//            gutterWidth: 10,
//            isAnimated: !Modernizr.csstransitions,
//            isResizable: true,
//            isFitWidth: true,
//            animationOptions: {
//                duration: 100
//            }
//        });

        $container.imagesLoaded(function(){
            $container.masonry({
                itemSelector: '.box',
                columnWidth: 60,
                gutterWidth: 10,
                isAnimated: !Modernizr.csstransitions,
                isResizable: true,
                isFitWidth: true,
                animationOptions: {
                    duration: 100
                }
            });
        });

        $('#prepend').click(function(){
            var $boxes = $( boxMaker.makeBoxesFixed() );
            $container.prepend( $boxes ).masonry( 'reload' );
        });

        $('#append').click(function(){
            var $boxes = $( boxMaker.makeBoxesFixed() );
            $container.append( $boxes ).masonry( 'appended', $boxes );
        });

//        var $boxes = $( boxMaker.makeBoxesFixed() );
//        $container.prepend( $boxes ).masonry( 'reload' );

        $container.infinitescroll({
                    navSelector  : '#page-nav',    // selector for the paged navigation
                    nextSelector : '#page-nav a',  // selector for the NEXT link (to page 2)
                    itemSelector : '.box',     // selector for all items you'll retrieve
                    loading: {
                        finishedMsg: 'No more pages to load.',
                        img: 'http://i.imgur.com/6RMhx.gif'
                    }
                },
                // trigger Masonry as a callback
                function( newElements ) {
                    // hide new items while they are loading
                    var $newElems = $( newElements ).css({ opacity: 0 });
                    // ensure that images load before adding to masonry layout
                    $newElems.imagesLoaded(function(){
                        // show elems now they're ready
                        $newElems.animate({ opacity: 1 });
                        $container.masonry( 'appended', $newElems, true );
                    });
                }
        );

    });
</script>

