<?php echo $this->doctype(); ?>

<html lang="<?php echo substr($this->plugin('translate')->getTranslator()->getLocale(), 0, 2); ?>">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('CHMOOD.ME '. $this->translate(' - Создай свое настроение!'))->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/favicon.ico'))
                        ->prependStylesheet($this->basePath() . '/css/bootstrap-responsive.min.css')
                        ->prependStylesheet($this->basePath() . '/css/style.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css') ?>

        <!-- Scripts -->
        <?php echo $this->headScript()->prependFile($this->basePath() . '/js/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',))
        ->prependFile($this->basePath() . '/js/jquery.grid-a-licious.min.js')
//        ->prependFile($this->basePath() . '/js/jquery.masonry.js')
//        ->prependFile($this->basePath() . '/js/modernizr-transitions.js')
//        ->prependFile($this->basePath() . '/js/jquery.infinitescroll.min.js')
//        ->prependFile($this->basePath() . '/js/box-maker.js')
                                      ->prependFile($this->basePath() . '/js/bootstrap.min.js')
                                      ->prependFile($this->basePath() . '/js/jquery.min.js')

        ?>

    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="<?php echo $this->url('home') ?>"><?php echo $this->translate('CH M OO D. M E') ?></a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class=""><a href="<?php echo $this->url('home') ?>"><?php echo $this->translate('BEST') ?></a></li>
                            <li class="active"><a href="<?php echo $this->url('home') ?>"><?php echo $this->translate('HOT') ?></a></li>
                            <li class=""><a href="<?php echo $this->url('home') ?>"><?php echo $this->translate('LATEST') ?></a></li>
                            <li class=""><a href="<?php echo $this->url('home') ?>"><?php echo $this->translate('UPLOAD') ?></a></li>
                        </ul>
                    </div><!--/.nav-collapse -->

                    <div class="pull-right">
                        <ul class="nav nav-pills">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><?php echo $this->zfcUserDisplayName() ?> <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="<?php echo $this->url('zfcuser') ?>"><?php echo $this->translate('Profile'); ?></a></li>
                                    <li><a href="<?php echo $this->url('zfcuser') ?>"><?php echo $this->translate('Settings'); ?></a></li>
                                    <li class="divider"></li>
                                    <li><a href="<?php echo $this->url('zfcuser/logout') ?>"><?php echo $this->translate('Logout'); ?></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            layout zzz
            <?php echo $this->content; ?>
<!--            <footer>-->
<!--                <p>&copy; 2005 - 2012 by Zend Technologies Ltd. --><?php //echo $this->translate('All rights reserved.') ?><!--</p>-->
<!--            </footer>-->
        </div> <!-- /container -->
        <?php echo $this->inlineScript() ?>
    </body>
</html>
